body {
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
}

::-moz-selection {
    background: #B3D4FC;
    text-shadow: none;
}

::selection {
    background: #B3D4FC;
    text-shadow: none;
}

.calendar {
    overflow: hidden;
    width: 695px;
    margin: 20px auto;
    padding: 10px 0;
}

.time-intervals {
    position: relative;
    float: left;
    text-align: right;
    width: 65px;
    height: 720px;
    margin: -15px 0 0 0;
    padding: 0;
    list-style-type: none;
    color: #A7A7A7;
    font-size: 9pt;
}

.time-intervals > li {
    height: 30px;
    line-height: 30px;
}

.time-intervals > li:nth-child(even) { /* half hour */
    font-size: 6pt;
}

.time-intervals > li:nth-child(odd) { /* hour */
    color: #686868;
    font-weight: bold;
}

.time-intervals > li:nth-child(odd) > small {
    margin-left: 5px;
    font-size: 7pt;
    color: #A7A7A7;
    font-weight: normal;
}

.events-container {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;

    position: relative;
    float: right;
    width: 620px;
    height: 720px;
    padding: 0 10px;
    border-left: 1px solid #D6D6D6;
    background: #ECECEC;
}